<!-- Public/Views/PatientList.html -->

<div id="headPatient">
    Patient List:
    <span class="label label-info" id="patientLabel" href="/"> {{ patients.length }}</span>
</div>
<div class="scrollWrapper">

    <table class="table table-responsive table-striped table-bordered table-hover table-condensed" id="patientsTable">
                <tr>
                    <th>Message</th>
            <th><a href="" id="patientOrder" ng-click="predicate = 'firstName'; reverse=false">First Name</a>
                (<a href="" id="patientOrder" ng-click="predicate = '-firstName'; reverse=false">^</a>)</th>
            <th><a href="" id="patientOrder" ng-click="predicate = 'lastName'; reverse=false">Last Name</a>
                (<a href="" id="patientOrder" ng-click="predicate = '-lastName'; reverse=false">^</a>)</th>
            <th><a href="" id="patientOrder" ng-click="predicate = 'phoneNo'; reverse=false">Phone Number</a>
                (<a href="" id="patientOrder" ng-click="predicate = '-phoneNo'; reverse=false">^</a>)</th>
            <th>Last Visit</th>
            <th>Active</th>
            <th>Edit or Remove</th>
        </tr>
        <!-- sort the patients, pipe the patients to a filter -->
        <tr ng-repeat="patient in patients | orderBy:predicate:reverse | filter:search">
            <!-- iterate over patient array and output -->
            <td><input type="button" value="Message" ng-click="messagePatient(patient._id, patient.firstName)"/></td>
            <td contenteditable="true"> {{patient.firstName}}</td>
            <td contenteditable="true"> {{patient.lastName}}</td>
            <td contenteditable="true"> {{patient.phoneNo}}</td>
            <td contenteditable="true"> {{patient.lastVisitDate}}</td>
            <td contenteditable="true"> {{patient.status}}</td>
            <td>
                <button class="btn btn-default" ng-click="updatePatient(patient)">Save Patient</button>
                <button class="btn btn-default" ng-click="deletePatient(patient._id)">Delete Patient</button>
            </td>
        </tr>
    </table>
</div>